# FREECURRENCY_API_KEY: API key for FreeCurrencyAPI.
# Default provided key or user provided key.
FREECURRENCY_API_KEY="4E0VK7BnkdeUuh1vegAt808v2IUjzUR6lxcvBMT2"

# PORT: Port for the standalone NestJS backend (defaults to 4000).
PORT="4000"
